body{
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
table,th,tr,td{
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 30px;
    color: aqua;
    text-shadow: 2px;
}
.lunch{
    width: 1px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 30px;
    background-image: url(lunch.avif);
    background-size: contain;
    background-repeat: repeat-y;
    color: black;
}
.tt{
    margin-left: 300px;
    padding: 20px;
}
h1{
    text-align: center;
    color: aqua;
    text-shadow: 4px bisque;
}.head{
    background-color: rgba(251, 185, 248, 0.515);
}